/*-- scss:defaults --*/

// Colors ERPI
$ERPI-Blue-Dark: #005798;
$ERPI-Blue-Ligth: #005699;
$ERPI-Green-Dark: #009342;
$ERPI-Green-Ligth: #009342;


//  Colors LF2L
$Purple-LF2L: #592c8e;
$LF2L-Grey: #B2B2BA;
$LF2L-grey-ligth: #F1F1F1;
$LF2L-grey-dark: #6E6E70;
$LF2L-white: #FFFFFF;


$Yellow-UL: #F0E503;




$primary:   $Purple-LF2L !default;
